[submodule "src/awespa/vendor/wind-profile-clustering"]
	path = src/awespa/vendor/wind-profile-clustering
	url = https://github.com/jbredael/wind-profile-clustering-1.git
	branch = add-era5-and-restructure
[submodule "src/awespa/vendor/LuchsingerPowerModel"]
	path = src/awespa/vendor/LuchsingerPowerModel
	url = https://github.com/jbredael/LuchsingerPowerModel.git
[submodule "src/awespa/vendor/InertiaFree-QSM"]
	path = src/awespa/vendor/InertiaFree-QSM
	url = https://github.com/jbredael/InertiaFree-QSM.git
