[submodule "src/awespa/vendor/LuchsingerModel"]
	path = src/awespa/vendor/LuchsingerModel
	url = https://github.com/jbredael/LuchsingerModel.git
[submodule "src/awespa/vendor/wind-profile-clustering"]
	path = src/awespa/vendor/wind-profile-clustering
	url = https://github.com/jbredael/wind-profile-clustering.git
[submodule "src/awespa/vendor/AWE_production_estimation"]
	path = src/awespa/vendor/AWE_production_estimation
	url = https://github.com/AndreaBertozzi/AWE_production_estimation.git
[submodule "src/awespa/vendor/awesIO"]
	path = src/awespa/vendor/awesIO
	url = https://github.com/awegroup/awesIO.git
	branch = wind_resource-and-power_curve-templates
[submodule "src/awespa/vendor/LuchsingerPowerModel"]
	path = src/awespa/vendor/LuchsingerPowerModel
	url = https://github.com/jbredael/LuchsingerPowerModel.git
